<!DOCTYPE html>
<!--
Trabalho Simplex
Autores:Leandro;Jonathan;Yuri 
-->
   <div class="modal-header" style="background: #449d44">
       <h3  style="color: white">{{titulo}}</h3>
             <h4 id="alert-modal-title" class="modal-title"></h4>
        </div>
        <div class="modal-body">
        
                {{mensagem}}
        
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" style="background: black" ng-click="ok(true)">Sim</button>
            <button class="btn btn-primary" style="background: black" ng-click="ok(false)">Não</button>
        </div>
  
